
/* TABLE OF CONTENTS
   -----------------

RESET

UTILITIES
   - Hover & Active States
   - Sliding Drawer Container

TYPOGRAPHY & COLOURS

DECORATION
   - Buttons
   - Chord Boxes

SITE STRUCTURE
    - Control Area
    - Mobile Header Buttons
    - Display Area

MOBILE-SPECIFIC STYLES

MEDIA QUERIES
    - Desktops
    - Laptops
    - Tablet (Landscape)
    - Tablet (Portrait)
    - Phone Large (Landscape)
    - Phone Small (Landscape)
    - Phone (Portrait)
    - Phone X-Small (Landscape)
   -----------------
 */

/* -- RESET -- */
html {
    font-size: 62.5%; /* Sets font size to 10px so 1 rem = 10px */
    }

body {
    font-size: 1.6rem; /* Resets the normal font size for everything to 16px so it's readable. */
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box; /* Include element border in dimension calculations */
}


/* -- UTILITIES -- */

/* Hover & Active States */
button:hover,
button.active,
.finger.active {
    border-color: #e67e22;
    color: initial;
}

.finger.active {
    background-color: rgba(230, 126, 34, 0.3);
}

button:hover,
button.active {
    background-color: #e9bc96;
}

.key-select:hover,
.key-select.active {
    background-color: rgba(230 126 34/55%);
    color: transparent;
}

/* FX */
#controls,
#controls.show,
.drawer,
.drawer.in {
    transition: 300ms all ease-in-out;
}


/* Sliding Drawer Container */

.drawer {
    position: absolute;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 960px;
    z-index: -1;
}

.drawer.in {
    left: 0;
    z-index: 2;
}


/* -- TYPOGRAPHY & COLOURS -- */
body,
button,
.site-title span {
    font-weight: 400;
    letter-spacing: 2px;
}

body {font-family: "Lato", sans-serif;}

h1,
h2,
h3,
h4,
h5,
h6,
.selection-key-label,
.selection-chord-progression-label {
    font-family: "Orbitron", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
button {
    font-weight: 600;
}

.ghosted {
    color: #95a5a6;
}

.uppercase {
    text-transform: uppercase;
}

.site-title {
    font-style: italic;
    line-height: 2rem;
}

.site-title span {
    font-size: 1.2rem;
}

main,
.chord-progression-inner {
    background-color: #2c3e50;
    border: 2px solid #2c3e50;
    border-radius: 3px;
}

.key-select {
    background-color: transparent;
    color: transparent;
}

.help-btn,
.close-btn,
.controls-btn {
    font-size: 0.8rem;
}

.help-btn i,
.close-btn i,
.controls-btn i {
    font-size: 2rem;
}

.drawer.in {
    background-color: rgb(44 62 80 / 50%);
}

.control-area {
    background-color: #d9dcdd;
}

.chord-progression-inner h2 {
    color: #ecf0f1;
    font-size: 1.6rem;
    text-align: center;
}

.chord-progression-select button {
    letter-spacing: 0;
    word-spacing: 0.5rem;
    font-size: 1rem;
}

.display-area {
    background-color: #ecf0f1;
}

.selection-display {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.selected-display-text {
    color: #e67e22;
    font-weight: bold;
}

.label-degree {
    font-size: 2rem;
}

.label-chord {
    font-size: 3rem;
}

.label-notes {
    font-size: 1.2rem;
}

[class*="string"]::before {
    background-color: #BEC4C9;
}

.finger {
    font-size: 1.6rem;
    color: transparent;
}


/* -- DECORATION -- */

/* Buttons */
button {
    appearance: none;
    border: 2px solid;
    border-radius: 3px;
}

.key-select,
.finger {
    border: 2px solid transparent;
    border-radius: 50%;
}

/* Chord Boxes */
ul[class*="fret"] {
    border: 1px solid #D9DCDD;
}

ul.fret1 {
    border-top-width: 10px;
}

ul.fret4 {
    border-bottom-width: 2px;
}


/* -- SITE STRUCTURE -- */

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

main {
    margin: 1em auto;
    overflow-x: hidden;
    position: relative;
    width: 960px;
}

.control-area,
.display-area {
    padding: 3em 0;
}

/* Control Area */
.control-area {
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}


/* Circle of Fifths - Key Selection Buttons */
.circle-of-fifths-container,
.key-select-inner {
    height: 320px;
    width: 320px;
    position: relative;
}

.circle-of-fifths-container {
    background: url(../../assets/images/circle-of-fifths-key-select.webp) no-repeat scroll 0/cover;
}

.key-select-inner {
    align-items: center;
    justify-content: center;
}

.keys {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.major-keys {
    width: 310px;
}

.minor-keys {
    width: 210px;
}

.button-group:nth-of-type(1) {
    transform: rotate(0deg);
}

.button-group:nth-of-type(2) {
    transform: rotate(-30deg);
}

.button-group:nth-of-type(3) {
    transform: rotate(-60deg);
}

.button-group:nth-of-type(4) {
    transform: rotate(-90deg);
}

.button-group:nth-of-type(5) {
    transform: rotate(-120deg);
}

.button-group:nth-of-type(6) {
    transform: rotate(-150deg);
}

.button-group {
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.key-select {
    height: 40px;
    width: 40px;
}

.help-btn,
.close-btn,
.controls-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: absolute;
    top: 1em;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.help-btn {
    left: 1em;
}

.close-btn {
    right: 1em;
    z-index: 11;
}

.help-content {
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.site-title {
    margin: 0 0 0.5rem;
}

.chord-progression-container {
    max-width: 400px;
}

.chord-progression-select .btn-row {
    justify-content: space-evenly;
}

.chord-progression-select .btn-row:not(:first-child) {
    margin: 1rem 0;
}

.chord-progression-select button {
    padding: 1em;
    height: 50px;
    width: 30%;
}



/* Display Area */
.display-area,
.selection-display {
    justify-content: space-evenly;
}

.selection-display {
    padding: 1em;
}

.chord-box-row {
    justify-content: space-evenly;
    width: 100%;
}

figure,
.frets {
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

figure {
    margin-top: 2em;
}

.label-notes,
[class*="fret"] {
    margin: 0;
    padding: 0;
}

.label-notes li,
[class*="string"] {
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
}

.label-notes li {
    align-items: flex-end;
}

[class*="string"] {
    position: relative;
}

[class*="string"]::before {
    content: " ";
    width: 1px;
    position: absolute;
    height: 100%;
    margin: auto;
    padding: 0;
}

.string1::before,
.string2::before {
    width: 3px;
}

.string3::before,
.string4::before {
    width: 2px;
}

.finger {
    position: relative;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}



/* -- MOBILE-SPECIFIC STYLES -- */
#mobileHeader {
    display: none;
    flex-direction: column;
    padding: 1em 0;
}

#mobileHeader .site-title {
    color: #ecf0f1;
    text-align: center;
}


/* Mobile Header Buttons */
#mobileButtons {
    justify-content: space-around;
}

#mobileButtons button {
    margin-top: 1em;
    position: initial;
    width: 100px;
}

.mobile-phone main {
    margin-top: 0;
    max-width: 100%;
}

.mobile-phone #controls {
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.mobile-phone #controls.show {
    height: 100%;
    opacity: 1;
    visibility: visible;
    padding: 1em 0;
}

/* .mobile-phone #controls, */
.mobile-phone .help-content {
    top: 0;
}

/* .mobile-phone #controls {
    height: 0;
} */



/* -- Media Queries -- */

/* Phone (Portrait) */
@media (max-width: 414px) {

    main {
        width: 100%;
    }
    
    #mobileHeader .site-title {
        font-size: 2.4rem;
    }

    #mobileHeader .site-title span {
        display: block;
    }

    .mobile-phone #controls {
        flex-direction: column;
    }

    /* .mobile-phone #controls, */
    .mobile-phone .help-content {
        top: 60px;
    }
    
    .chord-progression-container {
        margin-top: 2em;
    }

    .chord-box-container figure {
        margin-top: 2em;
    }

    .chord-box-row {
        flex-direction: column;
    }
    
}


/* Phone X-Small (Landscape) */
@media (max-width: 915px)
   and (orientation: landscape) {

    main {
        max-width: 100%;
    }
}