body,
.site-title span {
    font-weight: 400;
    letter-spacing: 2px;
}

body {
    font-family: "Orbitron", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

.site-title {
    font-style: italic;
}

.site-title span {
    font-size: 1.2rem;
}
